$body-font-family: Montserrat, Helvetica, sans-serif;
$font-size-root: 16px;
$tabs-bar-background-color: #09b;

$btn-toggle-dense-btn-padding: 0 8px 8px;
$btn-toggle-btn-padding: 0 8px 8px;

$date-picker-title-date-font-size: 18px;

$tooltip-background-color: #292b;

$fab-sizes: (
  'small': 36,
  'default': 48,
  'large': 56
);

$fab-icon-sizes: (
  'small': 24,
  'default': 32,
  'large': 48
);
